<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  <link rel="stylesheet" type="text/css" href="../css/T1.css">-->
    <title>首页</title>
</head>
<body>
<div>
	<h2>level 1</h2>
<a href="/level1/1">1.html</a>
<a href="/level1/2">2.html</a>
<a href="/level1/3">3.html</a>
</div>	
<div>
	<h2>level 2</h2>
<a href="/level2/1">1.html</a>
<a href="/level2/2">2.html</a>
<a href="/level2/3">3.html</a>
</div>	
<div>
	<h2>level 3</h2>
<a href="/level3/1">1.html</a>
<a href="/level3/2">2.html</a>
<a href="/level3/3">3.html</a>
</div>	
</div>	
</div>


</body>
</html>