<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cbsys.saleexplore.idao.IAdsDAO">

    <resultMap id = "ads" type = "com.cbsys.saleexplore.entity.Ads">
        <id column="id" property="id"></id>
        <result property="redirectUrl" column="redirectUrl"></result>
        <result property="imageName" column="imageName"></result>
        <result property="orderIndex" column="orderIndex"></result>
        <result property="isActive" column="isActive"></result>
        <result property="createdTime" column="createdTime"></result>

        <result property="displayType" column="displayType" javaType="com.cbsys.saleexplore.enums.AdsDisplayTypeEm"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"></result>

        <result property="redirectType" column="redirectType" javaType="com.cbsys.saleexplore.enums.AdsRedirectTypeEm"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"></result>

    </resultMap>

    <select id="get" resultMap="ads">
        SELECT *
        FROM T_ADS
        <where>
            <if test="id != null ">
                AND id = #{id}
            </if>
            <if test="discountId != null ">
                AND discountId = #{discountId}
            </if>
            <if test="storeId != null ">
                AND storeId = #{storeId}
            </if>
            <if test="displayType != null ">
                AND displayType = #{displayType.code}
            </if>
        </where>
        ORDER BY createdTime desc
        <if test="limit != null ">
            LIMIT #{limit}
        </if>
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.cbsys.saleexplore.entity.Ads">
        INSERT INTO T_ADS (
        redirectUrl,
        redirectType,
        displayType,
        orderIndex,
        imageName,
        isActive,
        createdTime)
        VALUES
        (#{adsBanner.redirectUrl},
         #{adsBanner.redirectType.code},
         #{adsBanner.displayType.code},
         #{adsBanner.orderIndex},
         #{adsBanner.imageName},
         #{adsBanner.isActive},
         #{adsBanner.createdTime})
    </insert>


    <update id = "update">
        UPDATE T_ADS SET
        <if test = "imageName != null">
            imageName = #{imageName}
        </if>
        <if test = "isActive != null">
            isActive = #{isActive}
        </if>
        WHERE id = #{id}
    </update>


    <delete id="delete">
        DELETE FROM T_ADS where id = #{id}
    </delete>


</mapper>