<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cbsys.saleexplore.idao.IBrandDAO">

    <select id="get" resultType="com.cbsys.saleexplore.entity.Brand">
        SELECT *
        FROM T_BRAND tb
        <where>
            <if test="ids != null and !ids.isEmpty()">
                tb.id IN
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>


</mapper>