<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cbsys.saleexplore.idao.IDiscountRatingDAO">

    <select id="get" resultType="com.cbsys.saleexplore.entity.DiscountRating">
        SELECT *
        FROM
        T_DISCOUNT_RATING
        <where>
            <if test="userId != null">
                AND userId = #{userId}
            </if>
            <if test="discountId != null">
                AND discountId = #{discountId}
            </if>
        </where>
    </select>


    <insert id="insert" parameterType="com.cbsys.saleexplore.entity.DiscountRating">
        INSERT INTO T_DISCOUNT_RATING (userId,
                                       score,
                                       discountId,
                                       createdTime)
        VALUES (#{rating.userId},
                #{rating.score},
                #{rating.discountId},
                #{rating.createdTime})
        ON DUPLICATE KEY UPDATE score=#{rating.score},
                                createdTime=#{rating.createdTime}
    </insert>

    <delete id="delete">
        DELETE FROM T_DISCOUNT_RATING
        <where>
            <if test="userId != null">
                AND userId = #{userId}
            </if>
            <if test="discountId != null">
                AND discountId = #{discountId}
            </if>
        </where>
    </delete>

</mapper>