<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cbsys.saleexplore.idao.IMallDAO">

    <resultMap id = "Mall" type = "com.cbsys.saleexplore.entity.Mall">
        <id column="id" property="id"></id>
        <result property="name" column="name"></result>
        <result property="geoAddress" column="geoAddress"></result>
        <result property="openingHours" column="openingHours"></result>
        <result property="phoneNumber" column="phoneNumber"></result>
        <result property="email" column="isOnline"></result>
        <result property="cityId" column="cityId"></result>
        <result property="webUrl" column="webUrl"></result>
        <result property="isOnline" column="isOnline"></result>


        <result property="latitude" column="latitude"></result>
        <result property="longitude" column="longitude"></result>

        <collection property="stores" ofType="com.cbsys.saleexplore.entity.Store">
            <result property="id" column="storeId"/>
            <result property="name" column="storeName"></result>
        </collection>

    </resultMap>


    <select id="get" resultMap="Mall">
        SELECT *
        FROM T_MALL
        <where>
            id = #{id}
        </where>
    </select>

    <select id="getWithStore" resultMap="Mall">
        SELECT tm.*, ts.id as storeId, ts.name as storeName
        FROM T_MALL tm
        LEFT JOIN T_STORE ts ON tm.id=ts.mallId
        <where>
            tm.cityId = #{cityId}
        </where>
        ORDER BY
        tm.name
    </select>



    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.cbsys.saleexplore.entity.Mall">
        INSERT INTO T_MALL (
        name,
        geoAddress,
        latitude,
        longitude,
        openingHours,
        phoneNumber,
        email,
        cityId,
        webUrl,
        isOnline
        )
        VALUES
        (#{mall.name},
        #{mall.geoAddress},
        #{mall.latitude},
        #{mall.longitude},
        #{mall.openingHours},
        #{mall.phoneNumber},
        #{mall.email},
        #{mall.cityId},
        #{mall.webUrl},
        #{mall.isOnline}
         )
    </insert>


    <delete id="delete">
        DELETE FROM T_MALL where id = #{id}
    </delete>

</mapper>

