<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cbsys.saleexplore.idao.IPopularSearchDAO">
    <select id="getPopularSearch" resultType="string">
        SELECT NAME
        FROM
            T_POPULAR_SEARCH
        WHERE
            SCORE > 0 AND searchType=#{searchType.code}
        ORDER BY
            SCORE DESC
            LIMIT #{topk}
    </select>
</mapper>