<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cbsys.saleexplore.idao.IUserSearchHistoryDAO">

    <select id="get" resultType="string">
        SELECT kwQuery
        FROM
        T_USER_SEARCH_HISTORY
        <where>
            userId = #{userId}
            AND searchType = #{searchType.code}
        </where>
        <if test="topk != 0">
            ORDER BY id DESC
            LIMIT #{topk}
        </if>
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.cbsys.saleexplore.entity.UserSearchHistory">
        INSERT INTO T_USER_SEARCH_HISTORY (userId,
                                    createdTime,
                                    kwQuery,
                                    searchType)
        VALUES (#{searchHistory.userId},
                CURRENT_TIME,
                #{searchHistory.kwQuery},
                #{searchHistory.searchType.code})
    </insert>



    <delete id="delete">
        delete
        from T_USER_SEARCH_HISTORY
        <where>
            userId = #{userId} AND searchType=#{searchType.code}
        </where>
    </delete>


    <delete id="deleteByKw">
        delete
        from T_USER_SEARCH_HISTORY
        <where>
            userId = #{userId} AND searchType=#{searchType.code} AND kwQuery=#{kwQuery}
        </where>
    </delete>

</mapper>