<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cbsys.saleexplore.idao.IUserDAO">

    <select id="getTotalNumber" resultType="Integer">
        SELECT count(*)
        FROM T_USER
    </select>

    <select id="get" resultMap="User">
        SELECT *
        FROM T_USER
    </select>


    <resultMap id="User" type="com.cbsys.saleexplore.entity.User">
        <id column="id" property="id"></id>

        <result property="email" column="email"></result>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>

        <result property="isDeleted" column="isDeleted"></result>
        <result property="isEnabled" column="isEnabled"></result>
        <result property="isHunterEnabled" column="isHunterEnabled"></result>
        <result property="isHunterPremium" column="isHunterPremium"></result>
        <result property="isEmailVerified" column="isEmailVerified"></result>


        <result property="imageName" column="imageName"></result>

        <result property="providerId" column="providerId"></result>

        <result property="mobilePhoneCountryCode" column="mobilePhoneCountryCode"></result>
        <result property="mobilePhoneNumber" column="mobilePhoneNumber"></result>
        <result property="cityId" column="cityId"></result>


        <result property="dateOfBirth" column="dateOfBirth" javaType="java.util.Date"></result>
        <result property="lastTimeLogin" column="lastTimeLogin" javaType="java.sql.Timestamp"></result>
        <result property="dateTimeSignUp" column="dateTimeSignUp" javaType="java.sql.Timestamp"></result>


        <result property="deviceToken" column="deviceToken"></result>

        <result property="appVersionCode" column="appVersionCode"></result>


        <result property="authProvider" column="authProvider" javaType="com.cbsys.saleexplore.enums.AuthProviderEm"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"></result>

        <result property="userGender" column="userGender" javaType="com.cbsys.saleexplore.enums.UserGenderEm"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"></result>

        <result property="osType" column="osType" javaType="com.cbsys.saleexplore.enums.OsTypeEm"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"></result>

        <result property="preferLanguage" column="preferLanguage" javaType="com.cbsys.saleexplore.enums.LanguageEm"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"></result>
    </resultMap>


    <select id="getUser" resultMap="User">
        SELECT *
        FROM T_USER
        <where>
            <if test="id != null ">
                AND id = #{id}
            </if>
            <if test="email != null">
                AND email = #{email}
            </if>
            <if test="providerId != null">
                AND providerId = #{providerId} AND authProvider = #{authProvider}
            </if>
        </where>

    </select>



    <select id="getUserLoginDevice" resultType="com.cbsys.saleexplore.entity.UserLoginDevice">
        SELECT *
        FROM T_USER_EXT
        <where>
            <if test="id != null ">
                AND id = #{id}
            </if>
        </where>
    </select>




    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.cbsys.saleexplore.entity.User">
        INSERT INTO T_USER (
            username,
            password,
            email,
            imageName,
            userGender,
            dateOfBirth,
            mobilePhoneCountryCode,
            mobilePhoneNumber,
            cityId,
            lastTimeLogin,
            dateTimeSignUp,
            authProvider,
            providerId,
            osType,
            deviceToken,
            appVersionCode,
            geoPosition
        )
        VALUES
        (#{user.username},
        #{user.password},
        #{user.email}, #{user.imageName},
         #{user.userGender}, #{user.dateOfBirth}, #{user.mobilePhoneCountryCode.code}, #{user.mobilePhoneNumber},
         #{user.cityId}, #{user.lastTimeLogin},
         #{user.dateTimeSignUp}, #{user.authProvider.code}, #{user.providerId},
         #{user.osType.code}, #{user.deviceToken}, #{user.appVersionCode},
         POINT(24.4539, 54.3773))
    </insert>


    <insert id="insertLoginDevice" keyProperty="id" parameterType="com.cbsys.saleexplore.entity.UserLoginDevice">
        INSERT INTO T_USER_EXT (
            id,
            deviceUUID,
            deviceModel,
            deviceVersion,
            deviceManufacturer,
            deviceIsVirtual
        )
        VALUES
        (#{userLoginDevice.id},
         #{userLoginDevice.deviceUUID},
         #{userLoginDevice.deviceModel},
         #{userLoginDevice.deviceVersion},
         #{userLoginDevice.deviceManufacturer},
         #{userLoginDevice.deviceIsVirtual})
    </insert>



    <!-- Updaters -->
    <update id="updateUser">
        UPDATE T_USER
        <set>
            <if test="userUPd.username != null">
                username=#{userUPd.username},
            </if>
            <if test="userUPd.userGender != null">
                userGender=#{userUPd.userGender},
            </if>
            <if test="userUPd.dateOfBirth != null">
                dateOfBirth=#{userUPd.dateOfBirth},
            </if>
            <if test="userUPd.cityId != null">
                cityId=#{userUPd.cityId},
            </if>
            <if test="userUPd.password != null">
                username=#{userUPd.password},
            </if>
            <if test="userUPd.mobilePhoneNumber != null">
                mobilePhoneNumber=#{userUPd.mobilePhoneNumber},
            </if>
            <if test="userUPd.mobilePhoneCountryCode != null">
                mobilePhoneCountryCode=#{userUPd.mobilePhoneCountryCode}
            </if>
            <if test="userUPd.preferLanguage != null">
                preferLanguage=#{userUPd.preferLanguage}
            </if>
        </set>
        WHERE id=#{id}
    </update>


    <update id="updateUserEmailPwd">
        UPDATE T_USER
        <set>
            password=#{password}
        </set>
        WHERE email=#{email}
    </update>

    <update id="updateUserEmailVeried">
        UPDATE T_USER
        <set>
            isEmailVerified=1
        </set>
        WHERE email=#{email}
    </update>


    <update id="updateUserAppInfo">
        UPDATE T_USER
        <set>
            osType = #{osType.code},
            appVersionCode=#{appVersionCode},
            deviceToken=#{deviceToken},
            lastTimeLogin=#{lastTimeLogin},
        </set>
        WHERE id=#{id}
    </update>

    <update id="updateLastActive">
        UPDATE T_USER
        <set>
            geoPosition = Point(#{latitude}, #{longitude}),
            lastTimeActive = CURRENT_TIMESTAMP
        </set>
        WHERE id=#{id}
    </update>


    <update id="updateProfileImage">
        UPDATE T_USER
        <set>
            imageName=#{imageName}
        </set>
        WHERE id=#{id}
    </update>


    <update id="markAsDelete">
        UPDATE T_USER
        <set>
            isDeleted = 1,
            isEnabled = 0,
            isHunterEnabled = 0,
            isHunterPremium = 0,
            isEmailVerified = 0,
            isEmailMarketEnabled = 0,
            providerId = null,
            mobilePhoneNumber = null,
            dateOfBirth = null,
            username = null,
            password = null,
            email = CONCAT(CURRENT_TIMESTAMP, email),
            imageName = null,
            mobilePhoneCountryCode = null,
            userGender = null,
            deviceToken = null
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateLoginDeviceInfo">
        UPDATE T_USER_EXT SET deviceUUID = #{userLoginDevice.deviceUUID},
                              deviceModel = #{userLoginDevice.deviceModel},
                              deviceVersion=#{userLoginDevice.deviceVersion},
                              deviceManufacturer=#{userLoginDevice.deviceManufacturer},
                              deviceIsVirtual=#{userLoginDevice.deviceIsVirtual}
        WHERE id = #{userLoginDevice.id}
    </update>

</mapper>
