<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- use Spring default values -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    ​
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n
            </Pattern>
        </layout>
    </appender>
    ​
    <appender name="REQUEST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/discountserver_requests.log</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>logs/discountserver_requests-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <append>true</append>
        <encoder>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%wEx
            </Pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    ​
    <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/discountserver_all.log</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>logs/discountserver_all-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <append>true</append>
        <encoder>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n%wEx
            </Pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    ​
    <!-- additivity=false ensures analytics data only goes to the analytics log -->
    <logger name="http-logger" level="DEBUG" additivity="false">
        <appender-ref ref="REQUEST"/>
    </logger>
    ​
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ALL" />
    </root>
</configuration>
